.page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
}

.content {
    flex-grow: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}