#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/Futura/FuturaCyrillicBold.ttf');
}